---
import type { NonGenericProcessedPub } from "contracts";

import NavMenu from "./NavMenu";

export interface Props {
	navMenuPubs: NonGenericProcessedPub[];
}

const { navMenuPubs = [] } = Astro.props;
---

<nav class="bg-transparent flex items-center gap-4">
	{navMenuPubs.map((navPub) => <NavMenu navPub={navPub} client:load />)}
	{
		navMenuPubs.length === 0 && (
			<div class="text-white/50 text-sm px-4 py-2">No navigation menus available</div>
		)
	}
</nav>
