---
export interface Props {
	abstract?: string
}

const { abstract } = Astro.props
---

<div class="bg-white p-6 rounded-lg shadow-md mb-8">
	<h2 class="text-2xl font-bold mb-4 text-gray-800 border-b pb-2">ABSTRACT</h2>
	<div class="prose prose-zinc max-w-none">
		{
			abstract ? (
				<div set:html={abstract} />
			) : (
				<p class="text-muted-foreground italic">No abstract available</p>
			)
		}
	</div>
</div>
