# the default url of the platform
PUBPUB_URL=http://localhost:3000 # the url of the platform
# change this to eg
# PUBPUB_URL=https://platform.example.com
# for a production environment


# configure these things with safe values
# or the values of a remote postgres database
POSTGRES_USER=my-postgres-user # change this!
POSTGRES_PASSWORD=my-postgres-password # change this!
POSTGRES_DB=my-postgres-db # change this! this is hard to change after the database has been created
POSTGRES_HOST=db # change this to the name of the service in docker-compose.yml, or the domain of a remote postgres database if you're using that instead
POSTGRES_PORT=5432 # don't forget to update the port in docker-compose.yml if you change this

# not needed if you're using a remote file server like AWS S3
MINIO_ROOT_USER= # change this! this is the username for your file server!
MINIO_ROOT_PASSWORD= # change this! this is the password for your file server!

ASSETS_BUCKET_NAME=assets
ASSETS_UPLOAD_KEY= # change this! example: asset-user
ASSETS_UPLOAD_SECRET_KEY= # change this! 
ASSETS_REGION=us-east-1 # leave this unchanged, unless you are hosting files on a different region on actual AWS

# this is the default value but you ideally should set this up more nicely using our caddy service
ASSETS_STORAGE_ENDPOINT="http://localhost:9000"
# you could also set this to the secured endpoint of your file server
# ASSETS_STORAGE_ENDPOINT="https://example.com/assets"

MAILGUN_SMTP_HOST=localhost
MAILGUN_SMTP_PORT=54325
MAILGUN_SMTP_PASSWORD="xxx"
MAILGUN_SMTP_USERNAME="xxx"

API_KEY="super_secret_key"

OTEL_SERVICE_NAME="pubpub-v7-dev" # should be shared across components but not environments
HONEYCOMB_API_KEY="xxx"

# KYSELY_DEBUG="true"

GCLOUD_KEY_FILE='xxx'

SELF_HOST="true"
VALKEY_URL='redis://cache:6379'