@import url("./spinners.css");

input::placeholder {
	color: var(--color-gray);
}

input:focus {
	outline: 1px solid rgb(79, 101, 241);
	border: 1px solid transparent !important;
}

button:focus {
	outline: 1px solid rgb(79, 101, 241);
}

input:focus::placeholder {
	color: transparent;
}

input,
button {
	border-radius: var(--border-radius-box);
}

button {
	border: 1px solid currentColor;
	padding: var(--space-sm) var(--space-sm);
	cursor: pointer;
	transition: var(--transition-input-hover);
	background-color: rgb(79, 101, 241);
	background-image: linear-gradient(
		59deg,
		rgb(109, 130, 255),
		rgb(79, 101, 241)
	);
	font-weight: var(--font-weight-semibold);
	color: var(--color-white);
}

button[disabled] {
	color: var(--color-gray-light);
	border-color: currentColor;
	cursor: not-allowed;
	background-image: linear-gradient(
		59deg,
		rgb(192, 192, 192),
		rgb(158, 158, 158)
	);
}

button[disabled]:hover {
	background: transparent;
}

button:hover {
	background-image: none;
}

button.loading::after {
	@mixin spinner;
	content: "";
	margin-left: var(--space-sm);
}

fieldset {
	margin: 0 0 var(--space-xl) 0;
	padding: var(--space-lg);
	border-radius: var(--border-radius-box);
	border: 1px solid var(--color-gray-light);

	> legend {
		display: table;
		float: left;
		margin: 0;
		padding: 0;
		width: 100%;
		+ * {
			clear: both;
		}
	}

	> legend {
		flex-basis: 100%;
		margin: 0 0 var(--space-lg) 0;
		padding-bottom: var(--space-md);
		border-bottom: 1px solid var(--color-gray-lighter);
	}

	> strong {
		display: block;
		font-weight: normal;
		font-size: var(--font-size-lg);
		margin: 0 0 var(--space-lg) 0;
	}
}

.input-group {
	display: flex;
	gap: var(--space-md);
}

.input-group > label > span {
	color: var(--color-gray-dark);
	letter-spacing: 1px;
	font-size: var(--font-size-sm);
	display: block;
	padding-bottom: 2px;
	text-transform: uppercase;
	font-variant: small-caps;
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-bold);
	margin-left: var(--space-xs);
}

.input-group > label > input {
	background-color: transparent;
	border: 1px solid var(--color-gray-light);
	padding: 6px;
}
