/* css/style.css */
:root {
	--space-unit: 15px;
	--space-md: var(--space-unit);
	--space-sm: calc(0.75 * var(--space-unit));
	--space-xs: calc(0.5 * var(--space-unit));
	--color-white: #fff8f1;
	--color-black: #11110f;
	--color-gray: #8e8e80;
	--color-green: green;
	--color-red: red;
	--color-input-hover: rgba(0, 0, 0, 0.1);
	--height-header: calc(3 * var(--space-unit));
	--font-size-sm: 0.9rem;
	--font-size-lg: 1.3rem;
	--font-weight-bold: 600;
	--font-family-mono: "IBM Plex Mono", "Courier New", Courier, monospace;
	--transition-input-hover: background 100ms cubic-bezier(0.45, 0.5, 0.6, 1);
	--border-radius-box: 2px;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	letter-spacing: 0.2px;
	text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: "Inter var", sans-serif;
	}
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

[x-cloak] {
	display: none !important;
}

body {
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
	background-color: var(--color-white);
	color: var(--color-black);
	-webkit-font-smoothing: antialiased;
	-moz-osxfont-smoothing: grayscale;
}

header {
	display: flex;
	align-items: center;
	height: var(--height-header);
}

header > h1 {
	margin: 0 1rem;
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
}

main {
	padding: var(--space-sm) 1rem;
}

main > div > p:first-child {
	margin-top: 0;
}

input,
button {
	border-radius: var(--border-radius-box);
}

.input-group {
	display: table;
	margin: 0;
	padding: 0;
	margin: var(--space-sm) 0;
	border: none;
}

.input-group > .input {
	display: table-row;
}

.input-group > .input > span {
	padding: var(--space-sm) var(--space-md);
	font-size: var(--font-size-sm);
}

.input-group > .input > input {
	background-color: transparent;
	border: 1px solid var(--color-black);
	padding: 4px;
}

.input-group > .input > span,
.input-group > .input > input {
	display: table-cell;
}

.checkbox-group {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: none;
}

.checkbox-group > .checkbox {
	display: flex;
	cursor: pointer;
	align-items: center;
	padding: var(--space-sm) var(--space-md);
	font-size: var(--font-size-sm);
	transition: var(--transition-input-hover);
}

.checkbox-group > .checkbox:hover {
	background: var(--color-input-hover);
}

.checkbox-group > .checkbox > input[type="checkbox"] {
	margin: 0 var(--space-md) 0 0;
	cursor: pointer;
}

.checkbox-group > .checkbox > input:checked + span {
	font-weight: var(--font-weight-bold);
}

button {
	border: 1px solid currentColor;
	background-color: transparent;
	padding: var(--space-xs) var(--space-sm);
	cursor: pointer;
	transition: var(--transition-input-hover);
}

button[disabled] {
	color: var(--color-gray);
	border-color: currentColor;
	cursor: not-allowed;
}

button[disabled]:hover {
	background: transparent;
}

button:hover {
	background: var(--color-input-hover);
}

button.loading::after {
	content: "";
	display: inline-block;
	width: var(--space-sm);
	height: var(--space-sm);
	vertical-align: middle;
	border: 1.5px solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	animation: spinner 0.75s linear infinite;
	margin-left: var(--space-sm);
}

.metadata {
	font-family: var(--font-family-mono);
	font-size: var(--font-size-sm);
}

.metadata th {
	padding: 4px 0;
	max-width: 200px;
	background-color: var(--color-black);
	color: #fff;
	border-radius: var(--border-radius-box);
}

.metadata td {
	padding: 4px;
}

.alert {
	border: 1px solid currentColor;
	padding: var(--space-sm) var(--space-md);
	margin: var(--space-sm) 0;
	background: color-mix(in srgb, currentColor 10%, transparent);
	border-radius: var(--border-radius-box);
	overflow: hidden;
}

.alert.success {
	color: var(--color-green);
}

.alert.failure {
	color: var(--color-red);
}

.alert > p {
	margin: 0;
	font-size: var(--font-size-sm);
	font-family: var(--font-family-mono);
}

.alert > strong {
	display: block;
	margin-bottom: var(--space-xs);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-bold);
}

.alert .metadata {
	float: right;
}

.alert.success .metadata th {
	background: var(--color-green);
}
