{
    email someone@example.com # replace with your email
}

example.com {
    # keep this if you want your files to be accessible at example.com/assets/*
    handle_path /assets/* {
        reverse_proxy minio:9000
    }

    handle_path /site-builder/* {
        reverse_proxy site-builder:4000
    }

    handle {
        reverse_proxy platform:3000
    }

}

# if you want to use a different domain for your files, you can do so here
# for instance, now all your files will be accessible at assets.example.com
# if you go this route, be sure to update your ASSETS_STORAGE_ENDPOINT in .env and restart your services
# assets.example.com {
#     reverse_proxy minio:9000
# }

# if you want to manage your files via the minio console, you can expose it like so
# this is usually not necessary
# assets-admin.example.com {
#     reverse_proxy minio:9001
# }

