:root {
	font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: "Inter var", sans-serif;
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff8f1;
	color: #11110f;
	-webkit-font-smoothing: antialiased;
	-moz-osxfont-smoothing: grayscale;
}

header {
	display: flex;
	align-items: center;
	height: 40px;
}

header > h1 {
	margin: 0 1rem;
	font-size: 1.3rem;
	font-weight: 500;
	text-transform: uppercase;
}

main {
	padding: 0.75rem 1rem;
}

.input-group {
	display: table;
	margin: 0;
	padding: 0;
	margin: 0.75rem 0;
	border: 1px solid #11110f;
}

.input-group > .input {
	display: table-row;
}

.input-group > .input > span {
	padding: 0.75rem 1rem;
	font-size: 0.9rem;
}

.input-group > .input > input {
	background-color: transparent;
	border: 1px solid #11110f;
	padding: 4px;
}

.input-group > .input > span,
.input-group > .input > input {
	display: table-cell;
}

.checkbox-group {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: 1px solid #11110f;
}

.checkbox-group > .checkbox {
	display: flex;
	cursor: pointer;
	align-items: center;
	padding: 0.75rem 1rem;
	font-size: 0.9rem;
	position: relative;
	z-index: 9;
}

.checkbox-group > .checkbox:hover {
	background: rgba(0, 0, 0, 0.1);
}

.checkbox-group > .checkbox > input[type="checkbox"] {
	margin: 0 1rem 0 0;
	cursor: pointer;
}

.checkbox-group > .checkbox > input:checked + span {
	font-weight: 600;
}

button {
	border: 1px solid #11110f;
	background-color: transparent;
	padding: 0.75rem 1rem;
	cursor: pointer;
}

button:hover {
	background: rgba(0, 0, 0, 0.1);
}

.metadata {
	border: 1px solid #11110f;
}

.metadata th,
.metadata td {
	padding: 2px 4px;
}

.metadata th {
	background: #11110f;
	max-width: 200px;
	color: #fff;
	font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
	font-size: 0.9rem;
}

p:first-child {
	margin-top: 0;
}

.alert.success {
	padding: 0.75rem 1rem;
	color: green;
	border: 1px solid green;
	background-color: rgba(0, 255, 0, 0.1);
	font-size: 0.8rem;
}
