server {
  listen ${NGINX_LISTEN_PORT};
  server_name _;

  location /legacy_healthcheck {
    return 200;
  }

  location ${NGINX_PREFIX} {
    rewrite ^ $request_uri;
    rewrite ^${NGINX_PREFIX}(.*) /$1 break;
    return 400;
    proxy_pass  $scheme://${NGINX_UPSTREAM_HOST}:${NGINX_UPSTREAM_PORT}$uri;
  }
}
