## These values are copied from the output of `supabase start`
NEXT_PUBLIC_SUPABASE_PUBLIC_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
JWT_SECRET=""
OTEL_SERVICE_NAME="pubpub-v7-dev" # should be shared across components but not environments
HONEYCOMB_API_KEY=""
