@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

@define-mixin spinner {
	display: inline-block;
	width: var(--space-sm);
	height: var(--space-sm);
	vertical-align: middle;
	border: 1.5px solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	animation: spinner 0.75s linear infinite;
}
