extends layout.pug

block main
	div(x-data="apply")
		p Click the button below to update the Pub with the number words and/or lines in its content.
		button(@click="fetch") Update word counts
		p.alert.success(x-show="updated" x-transition) Updated Pub!
		div.metadata(x-show="words || lines" x-transition)
			dl
				dt(x-show="words" x-transition) word-counter/word-count
				dd(x-show="words" x-text="words" x-transition)
				dt(x-show="lines" x-transition) word-counter/line-count
				dd(x-show="lines" x-text="lines" x-transition)

block scripts
	script.
		document.addEventListener("alpine:init", () => {
			Alpine.data("apply", () => ({
				words: 0,
				lines: 0,
				updated: false,
				async fetch() {
					const response = await fetch(`/apply?instanceId=!{instance.id}&pubId=!{pubId}`, { method: "POST" });
					if (response.ok) {
						const { words, lines } = await response.json();
						this.words = words;
						this.lines = lines;
						this.updated = true;
					}
				},
			}));
		});