<html>
	<head>
		<title>Hi</title>
	</head>
	<body>
		<form method="POST">
			<fieldset name="configure">
				<legend>Select Counting Metric</legend>
				<label for="count-words">Count Words</label>
				<input type="radio" name="select-metric" id="count-words" value="count-words" />
				<label for="count-chars">Count Characters</label>
				<input type="radio" name="select-metric" id="count-chars" value="count-chars" />
			</fieldset>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
