:root {
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 240 5.9% 10%;
	--primary-foreground: 0 0% 98%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 240 5.9% 10%;
	--radius: 0.5rem;
}

.ProseMirror {
	outline: none;
	padding: 2em;
	/* border: 1px solid #777; */
	border-radius: 2px;
	position: relative;
}
.wrap-widget {
	user-select: none;
	position: relative;
	/* background: red; */
	/* width: 1px; */
	height: 1px;
	button {
		cursor: pointer;
		position: absolute;
		left: 0px;
		top: -4px;
		padding: 1px 4px;
		font-size: 12px;
		color: #777;
		border: 0px;
		border-bottom: 1px solid #777;
		background: transparent;
		border-radius: 2px 2px 0px 0px;
		&:hover {
			background: #e7e7e7;
		}
		&.contextDoc, &.contextAtom {
			left: -5px;
		}
	}
}
.inline-wrap-widget {
	user-select: none;
	position: relative;
	/* background: red; */
	/* width: 100%; */
	/* height: 100%; */
	span {
		position: absolute;
		top: 0px;
		left: -1px;
		background: rgba(255, 0, 0, 0.3);
		width: 100%;
		height: calc(100% - 1px);
		border-left: 1px solid #777;
		/* border-top: 1px solid #777; */
		display: block;
	}
	button {
		cursor: pointer;
		position: absolute;
		left: -1px;
		top: 0px;
		border: 0px;
		padding: 0px;
		background: transparent;

		border-style: solid;
		border-width: 8px 8px 0 0;
		border-color: #777 transparent transparent transparent; 
		width: 0px;
		height: 0px;

		/* border-radius: 10px;
		width: 8px;
		height: 8px;
		background: #777;
		left: -4px;
		top: -4px; */
		

		&:hover {
			border-color: #000 transparent transparent transparent;
		}
	}
}
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6,
.ProseMirror p,
.ProseMirror code,
.ProseMirror section {
	border-left: 1px solid #777;
	padding-left: 5px;
	padding-top: 5px;
	margin-top: 16px;
	margin-bottom: 16px;
}
.ProseMirror section {
	margin-left: -5px;
}
.ProseMirror strong,
.ProseMirror em {
	border-top: 1px solid #777;
	padding-left: 1px;
	margin-left: -1px;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}
h2 {
	font-size: 1.5em;
	font-weight: bold;
}
h3 {
	font-size: 1.3em;
	font-weight: bold;
}
h4 {
	font-size: 1em;
	font-weight: bold;
}
h5 {
	font-size: 0.8em;
	font-weight: bold;
}
h6 {
	font-size: 0.7em;
}