---



import type { GetStaticPaths, InferGetStaticParamsType, InferGetStaticPropsType } from "astro"
import { getPubsToBuild, getSiteCss } from "../lib/site/storage"
import { getClient } from "../lib/site/client/client"

export const getStaticPaths = (async () => {
	const pages = await getPubsToBuild() as [{
		pages: { slug: string; title: string; id: string; content: string }[]
		transform: string
	}]
	const css = await getSiteCss()

	try {
		const pubs = (await Promise.all(pages.flatMap(async ({ pages, transform }) => {
			const pubs = await getClient().pubs.getMany({
				params: {
					communitySlug: import.meta.env.COMMUNITY_SLUG,
				},
				query: {
					transform: transform,
					pubIds: pages.map((page) => page.id) as any,
				}
			})

			if (pubs.status !== 200) {
				// @ts-expect-error - FIXME: pubs.body is not typed
				throw new Error("Failed to fetch pubs. Status: " + pubs.status + " Message: " + pubs.body?.message)
			}

			return pubs.body?.flatMap((pub) => ({
				// @ts-expect-error - pub.content is not typed
				content: pub.content,
				slug: pages.find((page) => page.id === pub.id)?.slug,
				title: pages.find((page) => page.id === pub.id)?.title,
			}))
		}).flat())).flat()

		return pubs.map((page) => ({
			params: { slug: page.slug },
			props: { page, css },
		}))
	} catch (error) {
		// biome-ignore lint/suspicious/noConsole: shh
		console.error("Error fetching pubs", error)
		throw error
	}
}) satisfies GetStaticPaths

type Params = InferGetStaticParamsType<typeof getStaticPaths>
type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page, css } = Astro.props as Props
const { slug } = Astro.params
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{page.title}</title>
	{css && <style set:html={css} />}
</head>
<body>
	<Fragment set:html={page.content} />
</body>
</html>
