@svg-load plug url(svg/plug.svg) {
}

@define-mixin icon $name {
	width: 1em;
	height: 1em;
	display: inline;
	background: svg-inline($name);
	background-repeat: no-repeat;
	background-size: contain;
}
