.link {
	display: flex;
	align-items: center;
	padding: 12px 5px;
	margin: 0px -5px;
}
.link:hover {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
}
.link.null {
	pointer-events: none;
}
.icon {
	width: 16px;
	margin-right: 13px;
}
.text {
	font-weight: bold;
	font-size: 14px;
	flex: 1 1 auto;
}
.count {
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #ccc;
	padding: 0px 8px;
	border-radius: 5px;
}
