.side {
	position: fixed;
	height: 100vh;
	background: #f7f7f7;
	width: 250px;
	padding: 1em;
	box-shadow: inset -7px 0px 7px -4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.links {
	flex: 1 1 auto;
}
.divider {
	height: 1px;
	background: #ccc;
	margin: 12px 0px;
}
