# Based on https://docs.github.com/en/actions/deployment/deploying-to-your-cloud-provider/deploying-to-amazon-elastic-container-service

name: aws ecs deploy

on:
  workflow_call:
    inputs:
      proper-name:
        required: true
        type: string
      environment:
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true

jobs:
  deploy-core:
    uses: ./.github/workflows/deploy-template.yml
    with:
      service: core
      environment: ${{ inputs.environment }}
      proper-name: ${{ inputs.proper-name }}
    secrets:
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}

  deploy-jobs:
    uses: ./.github/workflows/deploy-template.yml
    needs: deploy-core
    with:
      service: jobs
      environment: ${{ inputs.environment }}
      proper-name: ${{ inputs.proper-name }}
    secrets:
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
