on:
    workflow_call:
        inputs:
            image-tag-override: # example: latest, 7037e37a18a379d583164441baff9e594cc479f8
                type: string # use this to force a container version.
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true

env:
    CI: true
    AWS_REGION: us-east-1

    ECR_REPOSITORY_PREFIX: pubpub-v7
    CONTAINER_NAME: core

jobs:
    integration-tests:
        name: Integration tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20

            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                  run_install: false

            - name: Get pnpm store directory
              id: get-store-path
              shell: bash
              run: |
                  echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_OUTPUT

            - name: Setup pnpm cache
              uses: actions/cache@v4
              with:
                  path: ${{ steps.get-store-path.outputs.STORE_PATH }}
                  key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-

            - name: Install dependencies
              run: pnpm install --frozen-lockfile --prefer-offline

            - name: Start up DB
              run: docker compose -f docker-compose.test.yml --profile test up -d

            - name: Run migrations
              run: pnpm --filter core prisma migrate deploy
              env:
                  DATABASE_URL: postgresql://postgres:postgres@localhost:5432/postgres

            - name: p:build
              run: pnpm p:build

            - name: generate prisma
              run: pnpm --filter core prisma generate

            - name: seed db
              run: pnpm --filter core prisma db seed
              env:
                  SKIP_VALIDATION: true
                  DATABASE_URL: postgresql://postgres:postgres@localhost:5432/postgres

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: ${{ vars.IAM_ROLE_TO_ASSUME }}
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.AWS_REGION }}

            - name: Get image tag based on SHA
              id: gettag
              # use shell substitution
              run: echo "tag=$(git describe --always --abbrev=40 --dirty)" >> $GITHUB_OUTPUT

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2

            - name: Get image labels
              id: label
              env:
                  ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                  IMAGE_TAG: ${{ steps.gettag.outputs.tag }}
              run: |
                  echo "core_label=$ECR_REGISTRY/${ECR_REPOSITORY_NAME_OVERRIDE:-$ECR_REPOSITORY_PREFIX-core}:$IMAGE_TAG" >> $GITHUB_OUTPUT
                  echo "jobs_label=$ECR_REGISTRY/${ECR_REPOSITORY_NAME_OVERRIDE:-$ECR_REPOSITORY_PREFIX-jobs}:$IMAGE_TAG" >> $GITHUB_OUTPUT
                  echo "base_label=$ECR_REGISTRY/$ECR_REPOSITORY_PREFIX:$IMAGE_TAG" >> $GITHUB_OUTPUT

            - run: pnpx playwright install chromium --with-deps

            - name: Start up core
              run: docker compose -f docker-compose.test.yml --profile integration up -d
              env:
                  INTEGRATION_TESTS_IMAGE: ${{steps.label.outputs.core_label}}
                  JOBS_IMAGE: ${{steps.label.outputs.jobs_label}}

            - name: Log out Container ID for health check
              id: log-container-id
              run: echo "CONTAINER_ID=$(docker compose -f docker-compose.test.yml ps integration-tests -q)" >> $GITHUB_OUTPUT

            - name: Wait until container is healthy
              run: while [ "`docker inspect -f {{.State.Health.Status}} ${{steps.log-container-id.outputs.CONTAINER_ID}}`" != "healthy" ]; do     sleep .2; done

            - name: Run integration tests
              run: pnpm --filter core playwright:test
              env:
                  INTEGRATION_TEST_HOST: localhost
