# Based on https://docs.github.com/en/actions/deployment/deploying-to-your-cloud-provider/deploying-to-amazon-elastic-container-service

name: docker build to ECR

on:
    workflow_call:
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true

jobs:
    emit-sha-tag:
        name: Emit container tag sha
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Get image tag
              id: label
              run: |
                  sha_short=$(git describe --always --abbrev=40 --dirty)
                  echo "Building containers with tag:"
                  echo "$sha_short"
    build-base:
        uses: ./.github/workflows/ecrbuild-template.yml
        secrets:
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}

    build-core:
        uses: ./.github/workflows/ecrbuild-template.yml
        needs:
            - build-base
        with:
            package: core
        secrets:
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}

    build-intg-submissions:
        uses: ./.github/workflows/ecrbuild-template.yml
        needs:
            - build-base
        with:
            package: integration-submissions
        secrets:
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}

    build-jobs:
        uses: ./.github/workflows/ecrbuild-template.yml
        needs:
            - build-base
        with:
            package: jobs
        secrets:
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}

    build-intg-evaluations:
        uses: ./.github/workflows/ecrbuild-template.yml
        needs:
            - build-base
        with:
            package: integration-evaluations
        secrets:
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
