on:
    workflow_call:
        inputs:
            PLATFORM_IMAGE:
                required: true
                type: string
            JOBS_IMAGE:
                required: true
                type: string
            MIGRATIONS_IMAGE:
                required: true
                type: string
            SITE_BUILDER_IMAGE:
                required: true
                type: string
            AWS_REGION:
                required: true
                type: string
            ALWAYS_ON:
                required: false
                type: string
            COMPOSE_FILES:
                required: false
                type: string
        secrets:
            AWS_ACCESS_KEY_ID:
                required: true
            AWS_SECRET_ACCESS_KEY:
                required: true
            GH_PAT_PR_PREVIEW_CLEANUP:
                required: true
            PREVIEW_DATACITE_REPOSITORY_ID:
                required: true
            PREVIEW_DATACITE_PASSWORD:
                required: true

permissions:
    contents: read
    deployments: write
    pull-requests: write
    statuses: write

jobs:
    preview:
        timeout-minutes: 30
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Copy .env file
              run: cp ./self-host/.env.example ./self-host/.env

            - name: Configure pullpreview
              env:
                  PLATFORM_IMAGE: ${{ inputs.PLATFORM_IMAGE }}
                  JOBS_IMAGE: ${{ inputs.JOBS_IMAGE }}
                  MIGRATIONS_IMAGE: ${{ inputs.MIGRATIONS_IMAGE }}
                  SITE_BUILDER_IMAGE: ${{ inputs.SITE_BUILDER_IMAGE }}
              run: |
                  sed -i "s|image: PLATFORM_IMAGE|image: $PLATFORM_IMAGE|" docker-compose.preview.yml
                  sed -i "s|image: JOBS_IMAGE|image: $JOBS_IMAGE|" docker-compose.preview.yml
                  sed -i "s|image: MIGRATIONS_IMAGE|image: $MIGRATIONS_IMAGE|" docker-compose.preview.yml
                  sed -i "s|image: SITE_BUILDER_IMAGE|image: $SITE_BUILDER_IMAGE|" docker-compose.preview.yml
                  sed -i "s|DATACITE_REPOSITORY_ID: DATACITE_REPOSITORY_ID|DATACITE_REPOSITORY_ID: ${{ secrets.PREVIEW_DATACITE_REPOSITORY_ID }}|" docker-compose.preview.yml
                  sed -i "s|DATACITE_PASSWORD: DATACITE_PASSWORD|DATACITE_PASSWORD: ${{ secrets.PREVIEW_DATACITE_PASSWORD }}|" docker-compose.preview.yml
                  sed -i "s|email someone@example.com|email dev@pubpub.org|" self-host/caddy/Caddyfile
                  sed -i "s|example.com|{\$PUBLIC_URL}|" self-host/caddy/Caddyfile

            - name: Get ECR token
              id: ecrtoken
              run: echo "value=$(aws ecr get-login-password --region us-east-1)" >> $GITHUB_OUTPUT
              env:
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  AWS_DEFAULT_REGION: "us-east-1"

            - uses: pullpreview/action@v5
              with:
                  label: preview
                  admins: 3mcd
                  compose_files: ./self-host/docker-compose.yml,docker-compose.preview.yml,${{ inputs.COMPOSE_FILES }}
                  default_port: 443
                  instance_type: small
                  always_on: ${{ inputs.ALWAYS_ON }}
                  ports: 80,443
                  registries: docker://AWS:${{steps.ecrtoken.outputs.value}}@246372085946.dkr.ecr.us-east-1.amazonaws.com
                  github_token: ${{ secrets.GH_PAT_PR_PREVIEW_CLEANUP }}
                  pre_script: "./.github/workflows/pull-preview-script.sh"
              env:
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  AWS_REGION: ${{ inputs.AWS_REGION }}
                  PULLPREVIEW_LOGGER_LEVEL: DEBUG
